.profile{
    background-color: grey
}
.container-fluid{
    background-color: grey;
}



.deleteMessage {
    font-size: 14px;
    color: black;
}


.bio {
    display: flex;
    justify-content: center;
}

.bioInput {
    background-color: rgb(197, 197, 197);
}
.img-circle {
    border-radius: 50%;
    height: 170px;
}
 h2.posts{
     margin-left: 20px
 }
 .bio-input, .form-control {
     width: 45%
 }

 #bio{
     width: 35%;
    height: 70px
 }

 #bio-submit{
    background: grey;
    border-color: grey;
    margin-bottom: 30px

 }

 .bio-box{
     display: flex;
     justify-content: center
 }

 .well{
width: 40%;
background-color: #f5f5f5;
border: 3px solid darkgrey;
 }