.profile{
    background-color: #ECECEC
}
.container-fluid{
    background-color: grey;
}
.well, .container-fluid, span6, row-fluid{
    background-color: red;
}



.deleteMessage {
    font-size: 14px;
    color: black;
}


.bio {
    display: flex;
    justify-content: center;
}

.bioInput {
    background-color: rgb(197, 197, 197);
}
.img-circle {
    border-radius: 50%;
    height: 170px;
}
 h2.posts{
     margin-left: 20px
 }
 .bio-input, .form-control {
     width: 30%
 }

 #bio{
     width: 25%;
    height: 70px
 }

 #bio-submit{
    background: grey;
    border-color: grey;

 }