.background{
    background-color: gray;
    height: 100vh;
    width: 100vw;
    box-shadow: inset 0 0 10em 3em #373737;

}
.donate {
    display: -ms-flexbox;
    justify-content: center;
    display: flex;
    color: white;
}
.intro {
    display: flex;
    justify-content: center;
    padding: 30px;

}
   
.donate-input{
    color: black
}