.loginscreen {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin: auto;
    padding-bottom: 100px;
    padding-right: 200px;
    

    
}

.loginbody{
    height: 100vh;
    width: 100vw;
    background-color: gray;
    box-shadow: inset 0 0 10em 3em #373737;
    display: flex;

}

.logo {
    display: flex;
    width: 200px;
    
}

.loginword {
    color: black;
  
}

.a:visted{
    color: black;
}