@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-body {
  background-image: url("./../images/joel-cross-391681-unsplash.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginword {
  color: white;
  height: 100%;
  width: 100%;
}

.loginword:hover {
  color: white;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
}
#slideshow {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.elemnt,
.elemnt1,
.elemnt2,
.elemnt3 {
  position: absolute;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.elemnt {
  animation: xfade 16s 8s infinite;
  background-image: url("./../images/ales-krivec-1880-unsplash.jpg");
}
.elemnt1 {
  animation: xfade 16s 6s infinite;
  background-image: url("./../images/blake-richard-verdoorn-23459-unsplash.jpg");
}
.elemnt2 {
  animation: xfade 16s 2s infinite;
  background-image: url("./../images/nacho-rochon-423005-unsplash.jpg");
}
.elemnt3 {
  animation: xfade 16s 0s infinite;
  background-image: url("./../images//giammarco-boscaro-477588-unsplash.jpg");
}
@keyframes xfade {
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}
@keyframes xfade1 {
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}
@keyframes xfade2 {
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}
@keyframes xfade3 {
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}
