

.primaryNav {
    height: 50px;
    width: 100vw;
    background-color: #212124;
    display: flex;
    justify-content: space-around;    
    align-items: center;
}


.photostream {
    color: white;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.you {
    display: flex;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 40px;
    
}

.create {
    display: flex;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}
.donate {
    display: flex;
    color: white;
}


.subNav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center
}

.login {
    display: flex;
    color: white;
    padding: 30px;

}

.search {
    display: flex
}



/* .search{
  margin-left: 1240px;
    
}

.search-child {
    height: 33px;
    font-size: 14px;
    line-height: 20px;
    background-color: #f3f5f6;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    padding-left: 30px;
    background-repeat: no-repeat;

} */


.logo-container{
    flex: display;
    justifiy-content: center;
    
    
}

.logo {
    height: 65px;
    width: 90px
    
}